body{
  padding-top:80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url(./img/alphabet-1\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: xx-large;
  font-weight: 600;

  color: black;
}
img{
  height: 200px;
}
